<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="cabecalho">
		<a class="navbar-brand" href="#">Gerenciador de Tarefas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar-app">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-app">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link" href="/tarefas/listar">Tarefas</a>
				<a class="nav-item nav-link" href="/clientes/listar">Clientes</a>
				<a class="nav-item nav-link" href="/carros/listar">Carros</a>
				<a class="nav-item nav-link" href="/aluguel/inserir">Alugar</a>
				<div align="left" ><a class="nav-item nav-link" href="/logout">Sair</a> </div>
			</div>
		</div>
	</nav>


	<script src="/webjars/jquery/3.4.1/jquery.min.js" />
	<script src="/webjars/bootstrap/js/bootstrap.min.js" />
</body>
</html>