<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gerenciador  - Lista de Clientes</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

	<div th:replace="/fragmentos/fragmentos :: cabecalho" />
	<div class="container">
		<h3>Lista de Clientes</h3>
		<a href="/clientes/inserir" class="btn btn-success">Cadastrar novo cliente</a>
		<div th:each="cliente: ${clientes}" style="margin:10px">
			<div class="card bg-light md-3">
			<div class="card-header" th:text="${cliente.nome}"></div>
			<div class="card-header" th:text="${cliente.CPF}"></div>
			</div>
			
		
		</div>
	
	</div>

</body>
</html>